 
  
<mat-stepper orientation="vertical"   #stepper>
    <form  [formGroup]="Accident">
    <mat-step [stepControl]="Accident">
        
            <ng-template matStepLabel>Accident</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>date d'accident</mat-label>
                <input id="date-input" formControlName="date" matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="Accident.controls['date'].errors?.['required']" >Champ obligatoire</mat-error>
            </mat-form-field>
            

            <mat-form-field  >
                <mat-label>Lieu</mat-label>
                <input formControlName="place" matInput placeholder="Ex. Rue monji slim 1145 Ben Arous">
                <mat-error *ngIf="Accident.controls['place'].errors?.['required']" >Champ obligatoire</mat-error>
            </mat-form-field>

            <mat-radio-group formControlName="injuries" aria-label="Select an option">
                <mat-label>Blessés</mat-label>
                <mat-radio-button  value="no injuries">Non</mat-radio-button>
                <mat-radio-button  value="material damage">Oui</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="Accident.controls['injuries'].errors?.['required']">Veuillez sélectionner une option pour indiquer s'il y a eu des blessures ou non lors de l'accident.</mat-error>

            <mat-radio-group formControlName="materialDamage" aria-label="Select an option">
                <mat-label>Degats Materiaux</mat-label>
                <mat-radio-button value="no material damage">Oui</mat-radio-button>
                <mat-radio-button value="material damage">Non</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="Accident.controls['materialDamage'].errors?.['required']">Veuillez sélectionner une option pour indiquer s'il y a eu des degats ou non lors de l'accident.</mat-error>
            <button mat-button   (click)="toggleExpansion()">Toggle Expansion Panel</button>
                <mat-expansion-panel #myPanel [expanded]="isExpansionPanelOpen" [disabled]="!isExpansionPanelOpen">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Expansion Panel</mat-panel-title>
                    </mat-expansion-panel-header>
                    
                        <mat-form-field >
                            <mat-label>Nom</mat-label>
                            <input formControlName="witnessFullName"  matInput placeholder="Ex. Pizza" >
                            <mat-error *ngIf="Accident.controls['witnessFullName'].invalid && Accident.controls['witnessFullName'].touched" >champ obligatire</mat-error>
                        </mat-form-field>
    
                        <mat-form-field >
                            <mat-label>adresse</mat-label>
                            <input formControlName="witnessAddress" 
                            matInput type="number" >
                            <mat-error *ngIf="Accident.controls['witnessAddress'].invalid && Accident.controls['witnessAddress'].touched" >champ obligatire</mat-error>
                        </mat-form-field>
    
                        <mat-form-field  >
                            <mat-label>Tel</mat-label>
                            <input formControlName="witnessPhone" matInput placeholder="Ex. Pizza" >
                            <mat-error *ngIf="Accident.controls['witnessPhone'].invalid && Accident.controls['witnessPhone'].touched" >champ obligatire</mat-error>

                        </mat-form-field>
                    
                </mat-expansion-panel>
            <div>
                <button  [disabled]="myPanel.expanded && Accident.invalid " mat-button matStepperNext>Next</button>
            </div>
        
    </mat-step>
     <mat-step [stepControl]="Accident">
        <div class="assureeConducteur">
            
            <ng-template matStepLabel>Conducteur et Assure</ng-template>
            <div class="cards">
                <mat-card class="assure">
                    <mat-card-header>
                        <mat-card-title>Assuré</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="part1">
                            <mat-form-field>
                                <mat-label>Nom</mat-label>
                                <input matInput formControlName="insuredLastName">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Prénom</mat-label>
                                <input matInput formControlName="insuredFirstName">
                            </mat-form-field>
                        </div>
                            <mat-form-field>
                                <mat-label>Adresse</mat-label>
                                <input matInput formControlName="insuredAddress" placeholder="EXP .1145 ben arous rue liberte ">
                            </mat-form-field>
        
                            <mat-form-field>
                                <mat-label>Tél</mat-label>
                                <input matInput formControlName="insuredPhone" placeholder="+216">
                            </mat-form-field>
                            <mat-checkbox color="primary" #chkEnable ngModel (change)="disableField(chkEnable.checked)" formControlName="driverIsInsured">Assuré est le Conducteur</mat-checkbox>
                            <div>
                                <mat-form-field >
                                    <mat-label>Num Permis</mat-label>
                                    <input [disabled]="!Accident.get('work')?.value"  matInput formControlName="insuredLicenceNumber" placeholder="+216">
                                </mat-form-field> 
            
                                <mat-form-field >
                                    <mat-label>Date de Permis</mat-label>
                                    <input [disabled]="!Accident.get('work')?.value" matInput formControlName="insuredLicenceDate" placeholder="+216">
                                </mat-form-field>
                            </div>
                        
                    </mat-card-content>
                </mat-card>

                <mat-card class="conducteur">
                    <mat-card-header>
                        <mat-card-title>Conducteur</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="part2" >
                            <mat-form-field>
                                <mat-label>Nom Conducteur</mat-label>
                                <input [disabled]="Accident.get('work')?.value" type="text" formControlName="driverLastName" matInput>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Prénom Conducteur</mat-label>
                                <input type="text" formControlName="driverFirstName" matInput>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Adresse</mat-label>
                                <input matInput formControlName="driverAddress" placeholder="EXP .1145 ben arous rue liberte ">
                            </mat-form-field>

                            <mat-form-field >
                                <mat-label>Num Permis</mat-label>
                                <input  matInput formControlName="licenceNumber" placeholder="+216">
                            </mat-form-field> 
        
                            <mat-form-field >
                                <mat-label>Date de Permis</mat-label>
                                <input matInput formControlName="licenceDate" placeholder="+216">
                            </mat-form-field>
                        </div>
                    </mat-card-content>         
                </mat-card> 
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
            
        </div>
    </mat-step>

    <mat-step [stepControl]="Accident">
        
        <ng-template matStepLabel>Vehicule et Degats Materiels</ng-template>
        <div class="cards">
            <mat-card class="vehicule"  >
                <mat-card-header>
                    <mat-card-title>Vehicule Informations</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Number</mat-label>
                            <input type="text"
                                placeholder="Pick one"
                                aria-label="Number"
                                matInput
                                formControlName="carBrand"
                                [matAutocomplete]="auto">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Choose an option</mat-label>
                            <mat-select formControlName="carType">
                                <mat-option value="CUV">Voiture CUV</mat-option>
                                <mat-option value="SUV" >SUV</mat-option>
                                <mat-option value="VAN" >Camionette</mat-option>
                                <mat-option value="camion">Camion</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 
                        <mat-form-field>
                            <mat-label>Série</mat-label>
                            <input matInput formControlName="carPlate" type="text" >
                        </mat-form-field>
                    
                    <mat-form-field>
                        <mat-label>Direction</mat-label>
                        <input formControlName="carDirection" matInput type="text" >
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            <mat-card class="degats" >
                <mat-card-header>
                    <mat-card-title>Degats Materiels</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field appearance="fill">
                        <mat-label>Point de Choc Initial</mat-label>
                        <mat-select formControlName="apperantDamage" multiple>
                            <mat-select-trigger>
                                {{Accident.controls['apperantDamage'].value ? Accident.controls['apperantDamage'].value.join(', ') : ''}}
                                <span *ngIf="Accident.controls['apperantDamage'].value?.length > 1" class="example-additional-selection">
                                (+{{Accident.controls['apperantDamage'].value.length - 1}} {{Accident.controls['apperantDamage'].value.length === 2 ? 'other' : 'others'}})
                                </span>
                            </mat-select-trigger>
                        <mat-option *ngFor="let side of sides" [value]="side">{{side}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>aze</mat-label>
                        <textarea type="text" matInput></textarea>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>

            <mat-card class="circum">
                <mat-card-header>
                    <mat-card-title>Circonstances</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-checkbox formControlName="enStationnement">En stationnement</mat-checkbox>
                    <mat-checkbox formControlName="quittaitStationnement">Quittait le stationnement</mat-checkbox>
                    <mat-checkbox formControlName="prenaitStationnement">Prenait le stationnement</mat-checkbox>
                    <mat-checkbox formControlName="sortaitParking">Sortait d'un parking</mat-checkbox>
                    <mat-checkbox formControlName="engageaitParking">S'engageait dans un parking</mat-checkbox>
                    <mat-checkbox formControlName="arretCirculation">Arrêté sur la voie de circulation</mat-checkbox>
                    <mat-checkbox formControlName="frottementSansChangement">Frottement sans changement de direction</mat-checkbox>
                    <mat-checkbox formControlName="heurtaitArriere">Heurtait par l'arrière</mat-checkbox>
                    <mat-checkbox formControlName="roulaitMemeSens">Roulait dans le même sens</mat-checkbox>
                    <mat-checkbox formControlName="changeaitDeFile">Changeait de file</mat-checkbox>
                    <mat-checkbox formControlName="viraitDroite">Virait à droite</mat-checkbox>
                    <mat-checkbox formControlName="viraitGauche">Virait à gauche</mat-checkbox>
                    <mat-checkbox formControlName="reculait">Reculait</mat-checkbox>
                    <mat-checkbox formControlName="empietaitVoieInverse">Empiétait sur la voie inverse</mat-checkbox>
                    <mat-checkbox formControlName="venaitDeDroite">Venait de droite</mat-checkbox>
                    <mat-checkbox formControlName="nonRespectPriorite">Non-respect de la priorité</mat-checkbox>
                    <mat-checkbox formControlName="obstacleNonMobile">Obstacle non-mobile</mat-checkbox>                      
                </mat-card-content>         
            </mat-card> 

        </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
        
    </mat-step> 

    <mat-step [stepControl]="Accident">
        <div class="assureeConducteur">
            
            <ng-template matStepLabel>Croquis Et Signature</ng-template>
            <div class="canvas-container">
                <div class="canvas-wrapper">
                    <mat-card class="croquis">
                        <mat-card-header>
                            <mat-card-title>Croquis</mat-card-title>
                            <mat-card-content>
                                <canvas #canvas1 ></canvas>
                                <div>
                                    <button mat-raised-button color="warn" (click)="erase1()">Suprimer</button>
                                    <mat-error class="error" *ngIf="!validateCanvas1()">Croquis champ obligatoire</mat-error>
                                    <button color="primary" mat-raised-button (click)="sendPaintedCanvas1()" [disabled]="!validateCanvas1()">Envoyer Croquis</button>
                                </div>
                            </mat-card-content>
                        </mat-card-header>
                    </mat-card>
                </div>
                <div class="canvas-wrapper">
                    <mat-card class="signature">
                        <mat-card-header>
                            <mat-card-title>Signature</mat-card-title>
                            <mat-card-content>
                                <canvas #canvas2 ></canvas>
                                <div>
                                    <button mat-raised-button color="warn" (click)="erase2()">Suprimer</button>
                                    <mat-error class="error" *ngIf="!validateCanvas2()">Votre signature est obligatoire</mat-error>
                                    <button color="primary" mat-raised-button (click)="sendPaintedCanvas2()" [disabled]="!validateCanvas2()">Envoyer Signature</button>
                                </div>
                            </mat-card-content>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext [disabled]="!validateCanvas1() || !validateCanvas2() " >Next</button>
            </div>
            
        </div>
    </mat-step>


    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onSubmit()" >Envoyer</button>
        </div>
    </mat-step>
</form>
</mat-stepper> 


            
 