/*label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}*/
.main{
  margin: auto;
  position: relative;
  top: 150px;
}
.row1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
label{
  position: relative;
  top: 7px;
  left: 5px;
  color: grey;
}
input[type="password"]{
  width: 98%;
  margin-left: 5px;
}
.row1 input{
  width: 100%;
}
button{
  border: none !important;
  background-color: #00203f;
  width: 98%;
  margin-left: 5px;
}
button:hover{
  background-color: #00203f;
}
button:focus{
  background-color: #00203f;
}
h1{
  text-align: center;
  position: relative;
  bottom: 50px;
  font-size: 4.8rem;
  font-weight: bolder;
  color: #00203f;


}